.ResetPasswordLeftDiv {
  background: #0e143e;
  width: 68%;
  height: 100vh;
  margin: 0;
  float: left;

  color: white;

  text-align: center;
}

.ResetPasswordLeftDiv h1 {
  margin: auto;
  position: absolute;
  top: 240px;
  left: 240px;
  vertical-align: middle;
  font-size: 80px;
}

.ResetPasswordRightDiv {
  width: 30%;
  height: 99vh;
  margin: 1px;
  border: 2px solid #0e143e;
  float: left;
}

.ResetPwdParentDiv {
  position: absolute;
  top: 231px;
  right: 162px;
  /* background-color: red; */
  height: 200px;
  width: 200px;
}

.ResetPwdFormDiv {
  height: 150px;
  width: 200px;
}

#id_label {
  font-weight: bold;
  font-style: italic;
  position: absolute;
  top: -48px;
  font-size: 23px;
  color: #0e143e;
}

input,
select {
  color: #00008b;
  font-style: italic;
  font-size: 12px;
}

#id_username1 {
  border: 2px solid #0e143e;
  position: absolute;
  left: 0px;
  width: 177px;
  height: 25px;

  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#id_password1 {
  border: 2px solid #0e143e;
  position: absolute;
  left: 0px;
  top: 45px;
  width: 177px;
  height: 25px;

  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#id_confirmPwd {
  border: 2px solid #0e143e;
  position: absolute;
  top: 90px;
  left: 0px;
  width: 177px;
  height: 25px;

  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#id_username1:focus {
  border: 2px solid #0e143e;
  font-style: italic;
  color: #00008b;
}

#id_password1:focus {
  border: 2px solid #0e143e;
  font-style: italic;
  color: #00008b;
}

#id_confirmPwd:focus {
  border: 2px solid #0e143e;
  font-style: italic;
  color: #00008b;
}

::placeholder {
  color: #00008b;
  font-style: italic;
  opacity: 1;
  font-size: 12px;
}

.ResetButtons {
  position: absolute;
  top: 145px;
  font-size: 12px;
}

#id_resetPwd {
  color: white;
  background-color: #0e143e;
  padding: none;
  border: none;
  height: 25px;
  width: 80px;
  outline: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  font-style: italic;
  font-weight: bold;
}

#id_cancel {
  color: white;
  background-color: #0e143e;
  padding: none;
  border: none;
  position: absolute;
  right: -102px;
  bottom: 0px;
  height: 25px;
  width: 80px;
  outline: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-style: italic;
  font-weight: bold;
}

#id_cancel:hover {
  background-color: #00ced1;
  color: #0e143e;
}

#id_resetPwd:hover {
  background-color: #00ced1;
  color: #0e143e;
}

/* #id_lostPwd {
  color: #0e143e;
  position: absolute;
  right: 37px;
  top: 165px;
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
}

#id_lostPwd:hover {
  background-color: #00ced1;
  color: #0e143e;
} */
