.mainHeader nav {
  background-color: #00ced1;

  height: 40px;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.mainHeader nav ul {
  list-style: none;
  margin: 0 auto;
}

.mainHeader nav ul li {
  display: inline;
}

.mainHeader nav a:link,
.mainHeader nav a:visited {
  color: #0e143e !important;
  text-decoration: none !important;
  display: inline-block;
  padding: 10px 25px;
  font-weight: bold;
  font-size: 15px;

  /* height: 50px !important; */
}

.mainHeader nav a:hover,
.mainHeader nav a:active,
.mainHeader nav .active a:link,
.mainHeader nav .active a:visited {
  background-color: white !important;
  color: #0e143e !important;
  text-shadow: none !important;
  font-weight: bold;
  height: 20px;
}

.mainHeader nav ul li a {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.mainHeader h1 {
  float: left;
  color: #228b22;
  font-weight: bold;
  font-size: 40px;
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 320px) and (max-width: 480px) {
  .mainHeader nav ul li {
    width: 100%;
    text-align: center;
    display: inline-block;
    position: relative;
    left: -15px;
  }

  .mainHeader nav {
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .mainHeader nav ul li {
    width: 100%;
    text-align: center;
    display: inline-block;
    position: relative;
    left: -15px;
  }

  .mainHeader nav {
    height: auto;
  }
}
